body{
    color: #333
}

header{
    background: #1f3a5f;
    color: white;
    text-align: center;
    padding: 20px
}

main{
    padding: 20px;
}

section{
    margin-bottom: 40px
}

.place{
    background: white;
    padding: 20px;
    margin-bottom: 40px;

    border-style: double;
}

.place p{
    text-align: center;

}

.place img{
    width: 100%;
    max-height: 350px;
    height: auto;
    object-fit: contain;
    border-radius: 12px;
    display: block;
    margin: 0;

    

}

.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



.card{
    background: #fafafa;
    border-radius: 10px;
    padding: 15px;
    width: 250px;
    text-align: center;
}



.card img{
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
}
    

aside{
    background: #e8f5e9;
    padding: 20px;
    border-radius: 10px;
}

footer{
    text-align: center;
    padding:15px;
    background: #222;
    color: white;
    margin-top: 40px;
}


#favorites-summary{
    position: fixed;
    right:20px;
    bottom:20px;
    width:250px;
    background:#fff;
    border:2px solid #1f3a5f;
    border-radius:15px;
    padding:15px;
    box-shadow: 0 5px 20p rgba(0,0,0,0.1);
}

#favorites-summary h3{
    text-align: center;
    margin-bottom: 10px;
}

#favorites-list{
    list-style-type: none;
    margin:10px;
}

#favorites-list li{
    margin-bottom: 5px;
}

#favorites-total{
    font-weight: bold;
    text-align: center;
    border: 1px solid #ddd;
    padding: 5px;
}

.card button{
    margin-top:10px;
    padding: 6px 10px;
    border-radius: 6px;
    border: none;
    background: #1f3a5f;
    color: white;
    font-weight: bold;
    cursor:pointer;
}

.card-favorite{
    border: 2px solid gold;
}